.winner {
    color: #61b15a;
}

.loser {
    color:#c70039;
}


.container {
    display: flex ;
    justify-content: center;
    align-items: center;

}

#buttons{
display: flex;
justify-content: space-evenly;
}

body {
    background-image: url(https://images.unsplash.com/photo-1607376162689-10d6eb9d6c83?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80);
    background-size: cover;
    opacity: 0.9;
}

#mainH1 {
    text-align: center;
    color: whitesmoke;
    margin-top: 30px;
    font-weight: bolder;
}
h1 {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 2.5px;
}

